h1{
  font-size: 48px;
  padding-bottom: 16px;
  border-bottom:2px solid #ddd;
}

body{
  background-color: pink;
}

.gazou01{
  border-radius: 50%;
  vertical-align: middle;
}

.flex{
  display:flex;
  border: 1px solid #333;
}

.flex div{
  border: 1px solid #333;
}
.right{
  width: 50%;
  background: #ffd87c;
}
.left{
  width: 50%;
  background: #9ddbfc;
}
